@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/subset-ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    font-family: 'Proxima Nova Rg';
}

.titletext {
    font-size: 50px;
    font-weight: bold;
    color: #e7e7e7;
}

.subtitle {
    font-size: 28px;
    font-weight: bold;
    color: #c1c1c1;
}

.container {
    max-width: 1920px;
    min-width: 320px;
    padding: 0 10px;
    box-sizing: border-box;
}


.header {
    background-image: url(../images/header.png);
    background-color: #0a0e34;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;

    &__logo {
        display: flex;
        margin: 39px auto 0;
    }

    &__for {
        display: none;
    }

    &__title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__text1 {
        z-index: 1;
        font-size: 32px;
        margin-top: 130px;
        margin-bottom: 0;
        color: #ffffff;
    }

    &__line {
        z-index: 0;
        display: block;
        width: 220px;
        height: 4px;
        background-color: #5d40ad;
        transform: rotate(-53deg);
        position: relative;
        top: 22px;
        left: 21px;
      }

    &__text2 {
        font-size: 32px;
        color: #ffffff;
        z-index: 1;
        margin-left: 50px;
        margin-top: 7px;
        width: 230px;
    }

    &__download {
        display: flex;
        justify-content: space-between;
        width: 295px;
        margin: 78px auto 0 auto;

        &__app {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 142px;
            height: 39px;
            color: #ffffff;
            background-color: #5e42b0;
            box-shadow: 0 10px 16px #0a0e34;
            border-radius: 100px;
            font-size: 8px;
            line-height: 1.4;
            box-sizing: border-box;
            padding: 10px;
            text-align: left;
            border: none;
            cursor: pointer;
            
            &-apple {
                font-size: 20px;
                margin: 0 9px 0 17px ;
            }

            &-google {
                font-size: 17px;
                margin: 0 9px 0 24px ;
            }
        }
    }

    &__menu {

        margin-top: 45px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 36px;

        & a {
            text-decoration: none;
            color: #9071ea;
            font-size: 12px;
            margin-left: 18px;
            margin-bottom: 11px;
        }

        & a:first-child {
            margin-left: 0;
        }
    }
}

.athlets {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #fff 53%, #f5f4f9 40%);

    &__titletext {
        margin: 13px auto 3px;
    }

    &__lines {
        margin: 0 auto;
    }

    &__line {
            z-index: 0;
            display: block;
            width: 250px;
            height: 3px;
            background-color: #936eea;
            transform: rotate(-48deg);
            position: relative;
            bottom: 190px;
            right: 7px;
    }

    &__line2 {
        z-index: 0;
        display: block;
        width: 113px;
        height: 3px;
        background-color: #936eea;
        transform: rotate(-48deg);
        position: relative;
        bottom: 242px;
        left: 152px;
}

    &__cross {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 255px;
            left: 46px;
            width: 3px;
            height: 17px;
            background-color: #5e42b0;
        }
        
        &::before {
            transform: rotate(90deg);
        }
    }
     
    &__img {
        position: relative;
        width: 195px;
        margin: 0 auto;
        z-index: 1;
    }

    &__block {
        display: none;
        background-color: #ffffff;

        &__title {
            display: flex;
            align-items: center;
            margin: 40px 0 31px;
    
            &-text {
                margin-left: 12px;
            }
    
            &-number {
                font-size: 14px;
                font-weight: bold;
                border-bottom: 4px solid #5e42b0;
                border-radius: 10%;
            }
        }

        &__text {
            margin-bottom: 38px;
        }

        &__slider {
            display: flex;
            justify-content: center;

            &-circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: none;
                background-color: #d8d8d8;
                margin: 32px 5px 27px 5px;
                cursor: pointer;
            
                &:hover {
                    background-color: #5c3caf;
                }
            }
        }
    }
    &__block2 {
        background-color: #f5f4f9;
    }
    &__block3 {
        display: none;
        background-color: #5e42b0;

        &__text {
            color: #efefef;
        }

        &-number {
            border-bottom: 4px solid #efefef;
        }
    }
}


.cross2 {
    left: -22px;
    top: -10px;

    &::before, &::after {
        background-color: #cfc6e7;
    }
}


.players {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #fff 57%, #f5f4f9 40%);

    &__titletext {
        margin: 25px auto;
    }

    &__lines {
        margin: 0 auto;
    }

    &__line {
            z-index: 0;
            display: block;
            width: 190px;
            height: 3px;
            background-color: #936eea;
            transform: rotate(-48deg);
            position: relative;
            bottom: 90px;
            right: 42px;
    }

    &__line2 {
        z-index: 0;
        display: block;
        width: 113px;
        height: 3px;
        background-color: #936eea;
        transform: rotate(-48deg);
        position: relative;
        bottom: 188px;
        left: 129px;
}

    &__cross {
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 235px;
            left: 20px;
            width: 3px;
            height: 17px;
            background-color: #5e42b0;
        }
        
        &::before {
            transform: rotate(90deg);
        }
    }
     
    &__img {
        position: relative;
        width: 302px;
        margin: 0 auto;
        z-index: 1;
    }

    &__block {
        display: none;
        background-color: #fff;
        padding-top: 30px;

        &__title {
            display: flex;
            align-items: center;
            margin: 50px 0 31px;
    
            &-text {
                margin-left: 12px;
            }
    
            &-number {
                font-size: 14px;
                font-weight: bold;
                border-bottom: 4px solid #5e42b0;
            }
        }

        &__text {
            margin-top: 27px;
            margin-bottom: 28px;
        }

        &__slider {
            display: flex;
            justify-content: center;

            &-circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: none;
                background-color: #d8d8d8;
                margin: 32px 5px 27px 5px;
                cursor: pointer;
            
                &:hover {
                    background-color: #5c3caf;
                }
            }
        }
    }

    &__block2 {
        display: none;
        background-color: #f5f4f9;
    }

    &__block3 {
        background-color: #090c35;

        &-number {
            color: #8765dd;
            border-bottom: 4px solid #ffffff;
        }

        &__text {
            color: #f1f1f3;
        }
    }
}

.cross3 {
    left: -22px;
    top: -10px;

    &::before, &::after {
        background-color: #cfc6e7;
    }
}

.card {
    position: relative;

    &__bg {
        background-image: url(../images/1.png);
        background-position: center;
        background-size: cover;
        max-width: 100%;
        min-width: 320px;
        height: 351px;
    }

    &__bg2 {
        background-image: url(../images/2.png);
        background-position: center;
        background-size: cover;
        max-width: 100%;
        min-width: 320px;
        height: 351px;
    }

    &__bg3 {
        background-image: url(../images/3.png);
        background-position: center;
        background-size: cover;
        max-width: 100%;
        min-width: 320px;
        height: 351px;
    }

    &__number {
        position: absolute;
        top: 293px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background-color: #5e42b0;

        &-1 {
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
            border-bottom: 4px solid #8e7bc8;
        }
    }

    &__title {
        color: #e7e7e7;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        font-weight: bold;
        width: 215px;
        line-height: 1.4;
    }

    &__line {
        width: 22px;
        height: 5px;
        border-radius: 2px;
        background-color: #5e3db3;
        margin-top: 23px;
        margin-bottom: 50px;
    }
}

.footer {
    background-image: url(../images/footer.png);
    background-color: #1c1e41;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    &__app {
        margin-top: 97px;
        width: 73px;
    }

    &__title {
        position: relative;
        margin-top: 57px;
        font-size: 32px;
        color: #ffffff;
        font-weight: bold;
        z-index: 1;
    }

    &__subtitle {
        position: relative;
        font-size: 15px;
        font-weight: bold;
        color: #9b8dc3;
    }

    &__block {
        background-color: rgba(10, 14, 52, 0.6);
        margin-top: 127px;
        }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;

        &-app {
            text-decoration: none;
            color: #ffffff;
            font-size: 18px;
        }
    }

    &__contact {
        display: none;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }

    &__surface {
        display: none;
    }

    &__lines {
        display: flex;
        justify-content: center;
    }

    &__line1 {
        z-index: 0;
        display: block;
        width: 100px;
        height: 4px;
        background-color: #936eea;
        transform: rotate(-53deg);
        position: relative;
        top: -7px;
        right: 25px;
      }

      &__line2 {
        z-index: 0;
        display: block;
        width: 150px;
        height: 4px;
        background-color: #936eea;
        transform: rotate(-53deg);
        position: relative;
        top: -12px;
        right: 17px;
      }

      
}   

.fa-twitter {
    margin: 20px 40px;
}



@media (min-width: 768px) {

    .fotorama {
        display: none;
    }

    .container {
        padding: 0 33px;
        
    }

    .titletext {
        font-size: 90px;
    }

    .subtitle {
        font-size: 36px;
    }

    .header {

        &__text1 {
            font-size: 64px;
            margin-right: 159px;
        }

        &__text2 {
            font-size: 64px;
            width: 460px;
            margin-left: 50px;
        }

        &__line {
            width: 400px;
            height: 5px;
            top: 45px;
            left: -30px;
        }

        &__menu {
            order: 1;
            margin-top: 90px;

            & a {
                font-size: 16px;
            }
        }
    
        &__download {
            order: 2;
            margin: 70px auto;
            width: 650px;

            &__app {
                width: 311px;
                height: 77px;
                font-size: 14px;
                justify-content: center;

                &-apple {
                    font-size: 40px;
                    margin-right: 20px;
                }

                &-google {
                    font-size: 35px;
                    margin-right: 20px;
                }

                &-text1 {
                    width: 168px;
                }

                &-text2 {
                    width: 135px;
                }
            }
        }
    
        &__logo {
            justify-content: space-between;
            margin: 39px 0 0;
        }
    
        &__for {
            display: flex;
            color: #ffffff;
        }

    }

    .athlets {
        position: relative;

        &__line {
            height: 5px;
        }

        &__lines {
            position: absolute;
            top: 375px;
            left: 28px;
        }

        &__titletext {
            margin: 60px 0 0 230px;
        }

        &__img {
            position: absolute;
            width: 497px;
            left: -186px;
            top: 95px;
        }

        &__block {
            display: block;

            &__title {
                margin-left: 230px;

                &-number {
                    font-size: 18px;
                }
            }

            &__text {
                margin-left: 230px;
                font-size: 18px;
            }

            &__slider {
                display: none;
            }
            
        }
        &__block3 {
            display: block;
        }
    }

    .players {
        overflow: hidden;
        position: relative;

        &__cross {
            position: relative;
    
            &::before,
            &::after {
                content: "";
                bottom: 375px;
            }
        }

        &__line {
            height: 5px;
        }

        &__lines {
            position: absolute;
            top: 500px;
            left: 528px;
        }

        &__titletext {
            margin: 60px 0 0;
        }

        &__img {
            position: absolute;
            width: 690px;
            left: 330px;
            top: 37px;
        }
        

        &__block {
            display: block;

            &__title-number {
                    font-size: 18px;
                }

            &__text {
                width: 362px;
                font-size: 18px;
            }

            &__slider {
                display: none;
            }
            
        }
        &__block2 {
            display: block;
        }
    }

    .card {

        &__bg {
            height: 584px;
        }

        &__bg2 {
            height: 584px;
        }

        &__bg3 {
            height: 584px;
        }

        &__number {
            top: 490px;
            width: 116px;
            height: 116px;

            &-1 {
                font-size: 24px;
            }
        }

        &__title {
            font-size: 90px;
            margin-top: 40px;
        }

        &__text {
            width: 100%;
            font-size: 24px;
        }
    }

    .footer {

        &__title {
            font-size: 80px;
        }

        &__subtitle {
            font-size: 36px;
        }

        &__app {
            width: 130px;
        }

        &__line1 {
            height: 6px;
            width: 200px;
            top: -14px;
            right: 34px;
        }

        &__line2 {
            height: 6px;
            width: 426px;
        }

        &__download {
            margin-top: 190px;
        }

        &__social-app {
            font-size: 25px;

        }
    }
}

@media (min-width: 1280px) {

    .container {
        padding: 0 45px;
    }

    .container2 {
        width: 50%;
        padding-left: 100px;
        box-sizing: border-box;      
    }

    .header__container {
        width: 1200px;
    }

    .header {
    
        &__logo {
            margin-left: 100px;
        }

        &__for {
            margin-right: 100px;
        }

        &__title {
            align-items: flex-start;
        }

        &__text1 {
            margin-left: 100px;
        }

        &__text2 {
            width: 845px;
            margin-left: 400px;
            margin-bottom: 0;
        }

        &__line {
            width: 300px;
            height: 5px;
            left: 295px;
            top: 0;
        }

        &__menu {
            margin-top: 0;
            margin-right: 72px;
            justify-content: flex-end;

            & a {
                font-size: 14px;
            }
        }
    }

    .athlets {
        &__titletext {
            margin: 65px 0 0 750px;
        }

        &__img {
            width: 725px;
            left: 80px;
            top: 0;
        }

        &__lines {
            left: 500px;
        }

        &__line {
            bottom: 0;
            right: 550px;
            width: 870px;
        }
        &__cross {
            &::before,
            &::after {
                left: -270px;
            }
        }
        &__block {

            &__title {
                margin-left: 750px;
                margin-top: 80px;
            }

            &__text {
                max-width: 555px;
                margin-left: 750px;
            }
        }

        &__block3__text {
            margin-bottom: 80px;
        }
    }

    .players {
        overflow: visible;

        &__titletext {
            margin-left: 85px;
        }

        &__img {
            width: 991px;
            top: -30px;
            left: 460px;
        }

        &__block {

            &__title {
                margin-left: 85px;
            }

            &__text {
                margin-left: 85px;
                margin-bottom: 70px;
            }
        }

        &__line {
            width: 650px;
            left: 0;
            top: -30px;
        }
        

        &__line2 {
            height: 4px;
            width: 380px;
            left: 520px;
            bottom: 320px;
        }
    }
    

    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__bg {
            width: 50%;
        }

        &__bg2 {
            order: 2;
            width: 50%;
        }

        &__bg3 {
            width: 50%;
        }

        &__text {
            width: 310px;
        }

        &__number {
            top: 26%;
            left: 46%;
        }
    }


    .footer {

        &__surface {
            display: block;
        }

        &__contact {
            display: block;
        }

        &__block {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &__social {
            margin-left: 143px;
        }
    }
    
}

